<!-- メインコンテンツ　トップ記事 -->
<div class="topwrapper">
    <div class="toparticlewrapper" style="float:left;">
	<%= link_to image_tag(@toparticle1.image, {:size=>"580x380", :alt=>"image"}), @toparticle1.url, :target=>["_blank"]%>
	<div class="titlelayer">
	    <%= link_to @toparticle1.title, @toparticle1.url, :target=>["_blank"], :style=>"color:white; text-decoration:none;"%>
	</div>
    </div>
    <div class="toparticlewrapper" style="float:right;">
	<%= link_to image_tag(@toparticle2.image, {:size=>"580x380", :alt=>"image"}), @toparticle2.url, :target=>["_blank"]%>
	<div class="titlelayer">
	    <%= link_to @toparticle2.title, @toparticle2.url, :target=>["_blank"], :style=>"color:white; text-decoration:none;"%>
	</div>
    </div>
</div>

<!-- メインコンテンツ　その他の記事 -->
<% @page.each_slice(3) do |arr1, arr2, arr3| %>
    <div class="blockwrapper">
	<% if !arr1.nil? then %>
	    <div id="imagewrapper" style="margin-right:15px;">
		<%= link_to image_tag(arr1.image, {:border=>"0", :size=>"390x300",:alt=>"image"}), arr1.url, :target=>["_blank"]%>
		<div class="subtitlelayer">
		    <h3><%= link_to arr1.title, arr1.url ,:target=>["_blank"], :style=>"color:white; text-decoration:none;" %></h3>
		</div>
	    </div>
	<% end %>
	<% if !arr2.nil? then %>
	    <div id="imagewrapper" style="margin-right:15px;">
		<%= link_to image_tag(arr2.image, {:border=>"0", :size=>"390x300",:alt=>"image"}), arr2.url, :target=>["_blank"]%>
		<div class="subtitlelayer">
		    <h3><%= link_to arr2.title, arr2.url ,:target=>["_blank"],:style=>"color:white; text-decoration:none;" %></h3>
		</div>
	    </div>
	<% end %>
	<% if !arr3.nil? then %>
	    <div id="imagewrapper">
		<%= link_to image_tag(arr3.image, {:border=>"0", :size=>"390x300",:alt=>"image"}), arr3.url, :target=>["_blank"]%>
		<div class="subtitlelayer">
		    <h3><%= link_to arr3.title, arr3.url ,:target=>["_blank"],:style=>"color:white; text-decoration:none;" %></h3>
		</div>
	    </div>
	<% end %>
    </div>
    <Hr width="1020px" color="#cfcfcf">
<% end %>


<!-- ページ遷移 -->
<div class="paging">
    <% if @start <= 3 || @start.nil? then %>
	<% paging = [1,2,3,4,5,"...","次へ","最後"] %>
	<% if @start == 0 then %>
	    <% @start = 1 %>
	<% end %>
    <% else %>
	<% paging = ["最初","前へ", @start-2, @start-1, @start, @start+1, @start+2,"次へ","最後"] %>
    <% end %>
    <% paging.each do |p| %>
	<% if p == @start then %>
	    <div class="start_number"><span id="inner"><%= p.to_s %></span></div>
	<% elsif p == "最初" then %>
	    <div class="numbers"><span id="inner"><%= link_to "最初", "/top/" %></span></div>
	<% elsif p == "前へ" then %>
	    <div class="numbers"><span id="inner"><%= link_to "前へ", "/home/top/"+(@start-1).to_s %></span></div>
	<% elsif p == "次へ" then %>
	    <div class="numbers"><span id="inner"><%= link_to "次へ", "/home/top/"+(@start+1).to_s %></span></div>
	<% elsif p == "最後" then %>
	    <div class="numbers"><span id="inner"><%= link_to "最後", "/home/top/5" %></span></div>
	<% elsif p == "..." then %>
	    <div class="start_number"><span id="inner">...</span></div>
	<% else %>
	    <div class="numbers"><span id="inner"><%= link_to p.to_s, "/home/top/"+p.to_s %></span></div>
	<% end %>
    <% end %>
</div>
