<!DOCTYPE html>
<html>
<head>
  <title>vrownie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar">
	<div id="logo"><%= link_to "vrownie", "/top", :style =>"text-decoration:none; color:white; font-family:monospace;"%></div>
    </header>
    
    <div class="container">
	<%= yield %>
	<div class="clear"></div>
    </div>
    
    <footer class="footer">
	<div class="small">
	    <div id="links">
		<%= link_to "ホーム", "/top", :style=>"color:white;" %>
	    </div>
	    <div id="links">
		<%= link_to "このサイトについて", "/about", :style=>"color:white;" %>
	    </div>
	    <div id="links">
		<%= link_to "お問い合わせ", "/inqury", :style=>"color:white;" %>
	    </div>
	</div>
    </footer>
    
</body>
</html>
