<!DOCTYPE html>
<html>

    <!-- 設定 -->
    <head>
	<title>vrownie - アダルトVRニュース</title>
	<meta name="keywords" content="VR,アダルト,ニュース,18禁,エロ,AV,セックス,エロゲ,美少女,gearVR,oculus rift,ハコスコ,vrownie">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
    </head>

    <!--  本文　 -->
    <body>

	<!--  ヘッダー部分　 -->
	<header class="navbar">
	    <div id="logo"><%= link_to image_tag("/logo.png", {:size=>"450x90", :alt=>"logo"}), "/top" %></div>
	</header>


	<!--  メインコンテンツ　 -->
	<div class="container">
	    <%= yield %>
	    <div class="clear"></div>
	</div>


	<!--  フッター部分　 -->
	<footer class="footer">
	    <div class="small">
		<div id="links">
		    <%= link_to "ホーム", "/top", :style=>"text-decoration:none;"%>
		</div>
		<div id="links">
		    <%= link_to "このサイトについて", "/about", :style=>"text-decoration:none;"%>
		</div>
		<!--
		<div id="links">
		    <%= link_to "お問い合わせ", "/inqury", :style=>"text-decoration:none;"%>
		</div>
		-->
	    </div>
	</footer>
	
    </body>
</html>
